@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="container-edit">
    <div class="animate__animated animate__fadeInLeft col-4 BACK-green2">
        <div class=' container indigo'>
            <br />
            <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> LEAVIATHAN </p>
            <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> SHOP </>
            <p class='animate__animated animate__fadeInLeft animate__delay-1s font-1'> MANAGEMENT </p>
            <hr />
            <p class="title">ระบบจัดการสินค้าร้าน LEAVIATHAN SHOP</p>
            <div class="container">
                <a class="btn button-4 animate__animated animate__fadeInLeft nimate__delay-1s" asp-area="" asp-page="/orderui"> E D I T >> </a>
                <a class="mt-2 btn button-4 animate__animated animate__fadeInLeft nimate__delay-1s" asp-area="" asp-page="/Privacy"> A B O U T </a>
            <br /><br /><br />
            </div>
        </div>
    </div>
    </div>
    


